// SECTION description :: START

section#description.description
  .c-grid
    .description__wrapper

      .description__block-wrapper
        .description__block.description__block-0
          .description__block-top
            +iconSVG('database')

          .description__block-bottom
            p.description__block-title!= "STRONG DATA EFFECTIVENESS"
            p.description__block-text.c-text.c-text--medium!= "Instantly detecting email accounts are unsafe to send, to assist you to filter bad emails when you send."

        .description__block.description__block-1
          .description__block-top
            +iconSVG('database')

          .description__block-bottom
            p.description__block-title!= "STRONG DATA EFFECTIVENESS"
            p.description__block-text.c-text.c-text--medium!= "Instantly detecting email accounts are unsafe to send, to assist you to filter bad emails when you send."

        .description__block.description__block-2
          .description__block-top
            +iconSVG('mail')

          .description__block-bottom
            p.description__block-title!= "INCREASE DELIVERABILITY"
            p.description__block-text.c-text.c-text--medium!= "Say goodbye to invalid addresses, hard bounces , complaints ,spam traps and disposables."

        .description__block.description__block-3
          .description__block-top
            +iconSVG('check-circle')

          .description__block-bottom
            p.description__block-title!= "IMPROVED MARKETING CAMPAIGN"
            p.description__block-text.c-text.c-text--medium!= "Effective Email Validation benefits your marketing campaign by boosting the open rates."


// SECTION description :: END