// SECTION validate :: START

section#validate.validate

  .validate__bg

  .c-grid-fluid
    .validate__wrapper.validate__wrapper-0
      .validate__wrapper-left
        p.validate__title!= "Validate Email <br>Addresses to Improve <br>Deliverability."

      .validate__wrapper-right
        .validate__image.validate__image-0
          +validateSVGCard()
          //img(src="./img/img-validate-0.svg" alt="" title="" image2svg-js)

    .validate__wrapper.validate__wrapper-1
      .validate__wrapper-left
        .validate__image.validate__image-1
          +validateSVGDesc()
          //img(src="./img/img-validate-1.svg" alt="" title="" image2svg-js)

      .validate__wrapper-right

        .validate__box.validate__box-0
          p.validate__box-title!= "Boost your ROI through <br>Emailmarker"
          p.validate__box-text.c-text.c-text--medium!= "Significantly improve your Email Campaign. Increase your sender reputation with ISPs. Optimize your marketing campaigns by increasing the rate of deliverability and reducing your bounce rate. Save money as you send more emails to invalid or misspelled addresses."

        .validate__box.validate__box-1
          p.validate__box-title!= "Real-time Email <br>Verification API"
          p.validate__box-text.c-text.c-text--medium!= "Our Real-Time API offers you the best option to verify Emails within your Application or website; this makes it possible to give your users the perfect experience by preventing spamming and email entry mistakes. Our Real-Time API is available in PHP, Python, Nodejs and .net."

        .validate__box.validate__box-2
          p.validate__box-title!= "Why Choose <br>Emailmarker ?"
          p.validate__box-text.c-text.c-text--medium!= "Emailmarker helps you filter low-quality emails from high-value contacts. We ensure you only send an email to real users and protect your reputation, Boost your email campaign, and save money with Emailmarker."

// SECTION validate :: END