// SECTION questions :: START

section#questions.questions

  .questions__wrapper
    .c-grid

      p.questions__title!= "Frequently Asked Questions"
      p.questions__text.c-text.c-text--medium!= "We have an answer to every questions"

  .questions__slider
    .questions__bg
    .questions__slider-container
      .questions__slider-btn
        a.questions__slider-btn--prev(href="#" class="" title="")
          i.icon-font.icon-arrow-right-0
        a.questions__slider-btn--next(href="#" class="" title="")
          i.icon-font.icon-arrow-right-0

      .questions__slider-content
        .questions__slider-content--left
          mixin swiperContent()
            each val, idx in [1,2,3,4]
              .swiper-slide
                  .questions__slide
                    .questions__slide-top
                      img(
                        src="./img/img-questions-slide-" + ((idx % 2 === 0) ? 0 : 1) + ".png"
                        srcset="./img/img-questions-slide-" + ((idx % 2 === 0) ? 0 : 1) + "@2x.png 2x"
                        alt="" title=""
                        )
                    .questions__slide-bottom
                      p.questions__slide-title!= "Maritza Parra"
                      .questions__slide-text
                        p!= "We secure data transmission through a 256-bit SSL protocol. Your data is encrypted and stored under the rules of our privacy policy."


          +swiper('swiper-container-questions', 'swiperContent', false, false, true)

        .questions__slider-content--right
          each val1, idx1 in [1,2,3]
            .questions__slide
              .questions__slide-top
                img(
                  src="./img/img-questions-slide-" + ((idx1 % 2 === 0) ? 0 : 1) + ".png"
                  srcset="./img/img-questions-slide-" + ((idx1 % 2 === 0) ? 0 : 1) + "@2x.png 2x"
                  alt="" title=""
                )
              .questions__slide-bottom
                p.questions__slide-title!= "Maritza Parra"
                .questions__slide-text
                  p!= "We secure data transmission through a 256-bit SSL protocol. Your data is encrypted and stored under the rules of our privacy policy."

// SECTION questions :: END