// SECTION table :: START

section#table.table
  .c-grid

    .table__wrapper

      .table__block
        .table__block-head
          .table__block-tr
            .table__block-th
            .table__block-th
              p!= "EmailMarker"
            .table__block-th
              p!= "Datavalidation"

        .table__block-body
          .table__block-tr.table__block-tr--first
            .table__block-td
              span!= "Price per 10000 email verifications"
            .table__block-td
              span!= "$ 21"
            .table__block-td
              span!= "$ 50"

          .table__block-tr
            .table__block-td
              p!= "Email Bounce Detection"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              i.table__block-icon.table__block-icon--check

          .table__block-tr
            .table__block-td
              p!= "Spam Trap Detection"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              i.table__block-icon.table__block-icon--check

          .table__block-tr
            .table__block-td
              p!= "Free deduplication"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              i.table__block-icon.table__block-icon--close

          .table__block-tr
            .table__block-td
              p!= "Email Abuse Detection"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              span!= "Undisclosed"

          .table__block-tr
            .table__block-td
              p!= "Email Data Append"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              span!= "Undisclosed"

          .table__block-tr
            .table__block-td
              p!= "Toxic Domain Detection"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              span!= "Undisclosed"

          .table__block-tr
            .table__block-td
              p!= "Social Append"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              span!= "Undisclosed"

          .table__block-tr
            .table__block-td
              p!= "IP Information Append"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              i.table__block-icon.table__block-icon--check

          .table__block-tr
            .table__block-td
              p!= "Disposable Email Detection"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              span!= "Undisclosed"

          .table__block-tr
            .table__block-td
              p!= "Catch-All Domain Detection"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              span!= "Undisclosed"

          .table__block-tr
            .table__block-td
              p!= "IP Information Append"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              i.table__block-icon.table__block-icon--close

          .table__block-tr
            .table__block-td
              p!= "IP Information Append"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              i.table__block-icon.table__block-icon--check

          .table__block-tr
            .table__block-td
              p!= "IP Information Append"
            .table__block-td
              h6!= "97%"
            .table__block-td
              h6!= "93%"

          .table__block-tr
            .table__block-td
              p!= "Money-Back Guarantee"
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              span!= "Undisclosed"

          .table__block-tr
            .table__block-td
              p!= "Data security: Unique key for each file uploaded in the system; military grade encryption algorithm to safeguard all files and personal information."
            .table__block-td
              i.table__block-icon.table__block-icon--check
            .table__block-td
              span!= "Undisclosed"

// SECTION table :: END