// SECTION details :: START

section#details.details
  .c-grid
    .details__wrapper.details__wrapper-0

      .details__row.details__row--normal
        .details__col.details__col--auto

          p.details__num!= "01"
          p.details__title!= "Upload your file or import from your favorite integration"
          p.details__text.c-text.c-text--medium!= "The first step to verify your email list is to upload a Comma Separated Value file (.csv), Microsoft® Excel® file (.xls, .xlsx) or a Text File (.txt) from your computer or using one of our integrations."

        .details__col.details__col--expand
          .details__block

    .details__wrapper.details__wrapper-1

      .details__row.details__row--reverse
        .details__col.details__col--auto

          p.details__num!= "02"
          p.details__title!= "Scrub, verify and manage your email <br>lists"
          p.details__text.c-text.c-text--medium!= "Browse, search, and manage your email lists with ease, give your team granular control over how your customer’s data is verified and who has access. We are compliant with the highest security and privacy standards around the world"

        .details__col.details__col--expand
          .details__block

    .details__wrapper.details__wrapper-2

      .details__row.details__row--normal
        .details__col.details__col--auto

          p.details__num!= "03"
          p.details__title!= "Upload your file or import from your favorite integration"
          p.details__text.c-text.c-text--medium!= "The first step to verify your email list is to upload a Comma Separated Value file (.csv), Microsoft® Excel® file (.xls, .xlsx) or a Text File (.txt) from your computer or using one of our integrations."

        .details__col.details__col--expand
          .details__block

    .details__wrapper.details__wrapper-3

      .details__row.details__row--reverse
        .details__col.details__col--auto

          p.details__num!= "04"
          p.details__title!= "Scrub, verify and manage your email <br>lists"
          p.details__text.c-text.c-text--medium!= "Browse, search, and manage your email lists with ease, give your team granular control over how your customer’s data is verified and who has access. We are compliant with the highest security and privacy standards around the world"

        .details__col.details__col--expand
          .details__block



// SECTION details :: END